body {
        font-family: 'ABeeZee', sans-serif !important;
}

body * :focus {
    box-shadow: 0 0 0 4px rgba(0, 188, 212, 0.5) !important;
}

.navbar {
    margin-bottom: 0;
}

.jumbotron {
    margin: -100px 0px 0px 0px;
    padding-top: 8rem;
    padding-bottom: 4rem;
    margin-bottom: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1.0), rgba(0, 255, 215, 0.5) 50%, rgba(0, 99, 255, 0.5) 85%, rgba(0, 0, 255, 0.5)), url("../img/headerbg.jpg");
    background-size: cover, 70%;
    background-position: -40% 85%;
    border-radius: 0;
}

@media (max-width: 1024px) {
    .jumbotron {
        background-size: cover, 1024px;
        background-position: -15% 0%;
    }

    .jumbotron-heading {
        font-size: 2.0rem;
    }

    .jumbotron .lead {
        font-size: 1.1rem;
    }
}

@media (max-width: 768px) {
    .jumbotron-heading {
        font-size: 1.7rem;
    }

    .jumbotron .lead {
        font-size: 1.0rem;
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
    color: #fff;
    margin-bottom: 2.0rem;
}

.jumbotron p.text-muted {
    color: #fff !important;
}
.jumbotron .container {
    max-width: 40rem;
}
.jumbotron button {
}

.main-content {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #EEEEEE;
}

.card {
    float: left;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
}

.card > img {
    margin-bottom: .75rem;
    width: 100%;
    object-fit: cover;
    max-height: 256px;
}

.card-text {
    font-size: 85%;
}

footer {
    padding-top: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.block-explanation {
    font-size: .75rem;
    font-style: italic;
}



.faq-question {
    font-weight: bold;
}

.license {
    font-size: 0.7em;
}

.navbar-brand {
    margin-right: 0;
}

.lang-switcher-top {
    font-size: 0.7em;
}

.lang-divider {
    padding: 0px 8px;
}

@media (max-width: 576px) {
    .lang-switcher-top {
        display: none !important;
    }
}

.lang-switcher-top {
    padding: 0px 8px;
}

.lang-divider:last-child {
    display: none !important;
}

#logo {
    max-height: 72px;
    width: auto;
}

.current-language {
    font-weight: bold;
}

.btn-primary {
  background-color: #FF6F00;
  border-color: #FF6F00;
}

.btn-primary:hover {
  background-color: #E65100;
  border-color: #E65100;
}

a {
  color: #00BCD4;
}

a.current-language {
  background-color: #FF6F00;
  color: #FFF !important;
}

.lang-switcher a {
  padding: 4px 12px;
}

.copyright {
  margin: 32px 0px;
}

/* Album */


/* Image modal */
.modal-title {
    font-weight: bold;
}

.img-container {
    overflow: hidden;
}

.img-container > img {
    width: 100%;
    max-height: 400px;
}

p.license {
    margin-right: auto !important;
    margin-bottom: 0 !important;
}

button.close {
    font-size: 2.0rem;
    color: #000;
    opacity: 1;
}
