<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading"><%= jumbotron.headline %></h1>
        <p class="lead text-muted"><%= jumbotron.lead1 %></p>
        <p class="lead text-muted"><%= jumbotron.lead2 %></p>
        <p>
            <button class="btn btn-primary contactus"><%= jumbotron.contact %></button>
        </p>
    </div>
</section>

<div class="main-content">
    <div class="container">
        <p class="text-muted text-center album-tip"><%= album.tip %></p>

        <% album.categories.forEach(category => { %>
            <h4>
                <%= category.name %><br />
                <small class="text-muted block-explanation"><%= category.desc %></small>
            </h4>

            <div class="row">
                <%
                category.imgs.forEach(img => { %>
                    <div class="col-12 col-md-4">
                        <div class="card" data-toggle="modal" data-target="#modalImg">
                            <img src="img/<%= img.img %>_min.png" alt="<%= img.name %>" data-img="<%= img.img %>">
                            <p class="img-desc card-text"><%= img.desc %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% }) %>

    </div>
</div>

<div class="modal fade" id="modalImg" tabindex="-1" role="dialog" aria-labelledby="modalImgLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalImgLabel"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container fluid">
              <div class="row">
                  <div class="col-12 col-lg-6">
                      <div class="img-container">
                          <img class="img" src="" />
                      </div>
                  </div>
                  <div class="col-12 col-lg-6">
                      <p class="img-desc"></p>
                      <p class="text-center"><a class="btn btn-primary img-download" href="" download><%= img.download %></a></p>
                      <p><%= img.tip %><p>
                      <p class="license"><%= img.license %></p>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
