<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Driwings</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="css/driwings.css">
</head>
<body>
    <div class="collapse bg-inverse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 py-4">
                    <h4 class="text-white"><%= about.name %></h4>
                    <p class="text-desc"><%= about.text %></p>
                    </div>
                    <div class="col-sm-4 py-4">
                        <h4 class="text-white">Contact</h4>
                        <ul class="list-unstyled">
                            <li><a href="#" class="text-white">See our other works in DeviantArt</a></li>
                            <li><a href="#" class="text-white">Like our page on Facebook</a></li>
                            <li><a href="#" class="text-white">Contact us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="navbar navbar-light">
            <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand">Driwings</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Custom backgrounds and cover drawings</h1>
                <p class="lead text-muted">Here are some samples of work we have done.<br /> You'll find patterns, cover photos and chat wallpapers.</p>
                <p class="lead text-muted">Do you like what you see? Get a custom design!</p>
                <p>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modalContact">Contact us</button>
                </p>
            </div>
        </section>

        <div class="album text-muted">
            <div class="container" id="album-container">
                <p class="text-muted">Click on any example to see more details and instructions on how to use them.</p>
                <%= _.join(categories, "\n") %>
            </div>
        </div>

        <footer class="text-muted">
            <div class="container">
                <p class="float-right">
                    <a href="#">Back to the top</a>
                </p>
                <p>driwings.com &copy; Adriana Amaral</p>
            </div>
        </footer>

        <div class="modal fade" id="modalImg" tabindex="-1" role="dialog" aria-labelledby="modalImgLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalImgLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                  <div class="container fluid">
                      <div class="row">
                          <div class="col-8">
                              <img class="img" src="" />
                          </div>
                          <div class="col-4">
                              <p class="img-desc"></p>
                              <p class="text-center"><a class="btn btn-primary img-download" href="" download>Download</a></p>
                              <p>Learn how to define it as a <a href="fbcover.html">cover photo on Facebook</a> or how to use it as a <a href="wsback.html">WhatsApp wallpaper</a><p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modalContact" tabindex="-1" role="dialog" aria-labelledby="modalContactLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalContactLabel">Contact us</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>You can e-mail us by clicking on the button below:
                    <button class="btn btn-primary" name="Send an email">Send us an email</button>
                </p>
                <p>Or if you prefer, you can send an email directly to the address below:
                    email_address_here
                </p>
                <hr>
                <h5>FAQ - Frequently asked questions</h5>
                <p><strong>How does it work?</strong> You contact us, we give you a price, you pay, we give you the drawing</p>
                <p><strong>How much does it cost?</strong> It depends a lot on what you ask. Typically, expect it to cost something from US$ 30 for personal use, and US$ 90 for commercial use.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <script src="js/jquery/jquery-3.1.1.min.js"></script>
        <script src="js/bootstrap/bootstrap.min.js"></script>
        <script src="js/underscore/underscore-min.js" charset="utf-8"></script>
        <script src="js/driwings.js" charset="utf-8"></script>

    </body>
</html>
